*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#d2be57;
}
.app{
    display: flex;
    justify-content: center;
    margin-top: 140px;
    /* text-decoration: line-through; */
}
.container{
    background-color: #020202;
    color: #fff;
    padding:50px;
    border-radius: 8px;
    border: 3px solid #1C5D99;
}
.title{
    text-align: center;
}
input{
    align-items: center;
    margin-top:10px;
    /* width: 60%; */
    padding: 10px ;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
  
}
button#adds{
    padding:10px;
    background-color:#49acf8;
    border-radius:5px;
    border: 1px solid #49acf8;
    font-weight: bolder;
    cursor: pointer;

}
section h4{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.list-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:10px;
    border: 2px solid white;
    border-radius: 5px;
    list-style: none;
    padding: 5px;
    font-size: 18px;
    
 } 
.list-style span{
 padding-left: 5px;
}
.delete{
    color: #fff;
    background-color:#020202;
    border: none;
    cursor: pointer; 
    padding: 5px;  
 }
/* section .complete{
  margin-top: 20px;
  text-align: center
}
.complete hr{
    border-color: #107ed2;
} */ 
/* section span {
      padding: 10px;
      font-size: 18px;
}*/